.body{
    background-color: pink;
}
.container-img img {
    width: 100%;
    border: 6px solid white;
}
.container-img {
    display: grid;

grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1px;
}
/* 2fr 3fr 2fr; */